a.nav-link {
    color: #fff;
}

a:hover {
    color: red;
}


html, 
body, 
.view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item, 
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width:776px) {
    .carousel {
        height: 100%;
    }
}



main .container #header {
    background: gray;
}

    html, 
    body,
    .carousel {
      height: 100vh;
}

@media (max-width:740px) {
    html, 
    body,
    .carousel {
      height: 100vh;
  }
@media (min-width: 800px) and (max-width: 850px) {
    html, 
    body, 
    header,
    .carousel {
      height: 100vh;
    }
  }
}




p.text-testimonails {
    font-size: 20px;
}

p.font-weight-bold {
    font-size: 25px;
}

#slippers {
    padding-top: 5%;
    padding-bottom: 5%;
}

h1.mt-4 {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}

p.text-white.mt-4 {
    font-size: 20px;
}

div.row.text-white {
    padding-top: 50px;
}

div.col-3 {
    font-size: 20px;
}

#hotel-content {
    margin-top: 15%;
}
i.fa.fa-star {
    color: red;
}

.col-1 {
    padding-top: 5%;
}
h1.hotel {
    font-size: 160px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3.mt-4 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
}

p.hotel-adress {
    padding-top: 5%;
    font-size: 18px;
    letter-spacing: 3px;
}

@media (max-width: 740px) {

#hotel-content {
    margin-top: 30%;
}

.col-1 {
    display: none;
}
h1.hotel {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3.mt-4 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

p.hotel-adress {
    padding-top: 5%;
    font-size: 18px;
    letter-spacing: 3px;
}
}




