body {
    font-family: 'Spartan', sans-serif;
}

/*PARALLAX START*/

#parallax_2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    width: 100%;
    height:300px;
    margin: 0;
    padding: 0;
}

/*RAPALLAX END*/


section.experince {
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;
}

section.experince h1 {
    font-size: 50px;
    font-weight: 700;
}

div.col-12 {
    margin-top: 90px;
}

div.top-36 {
    padding-top: 36px;
}

p.text-extra-small {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
}

h4.offset-top {
    margin-bottom: 16px;
    font-weight: 700;
}

.tab-98 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1.text-danger {
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 60px;
}

h1 {
    font-weight: 700;
}

img.rounded-circle {
    width: 100px;
    height: 100px;
}

h6 {
    font-size: 10px;
}

h4 {
    font-weight: 700;
    margin-bottom: 0px;
}

h3 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
.person {
    margin-top: 50px;
}

.person-top {
    margin-bottom: 0px;
}

p.text-danger {
    font-size: 14px;
}

.person-text {
    font-weight: 100;
}

.tickets-top {
    margin-top: 40px;
    font-size: 15px;
}

#reg-b {
    margin-bottom: 80px;
}

#button-reg {
    width: 200px;
}

.container-bg {
    background: #111;
    padding-top: 50px;
}

.footer-add-left {
    text-align: left;
}

.footer-add-right {
    text-align: right;
}

/*PAY*/

.form-control {
    background-color: #111;
    color: #fff;
    font-size: 22px;
}

label {
    font-size: 22px;
}
 
@media (min-width: 1px) and (max-width: 540px) {
    h1#experience.text-bold {
        font-size: 35px;
    }

    h1.text-danger {
        font-size: 20px;
        padding-bottom: 0px;
    }

    p.text-white {
        font-size: 18px;
    }

    div.col-12 {
        margin-top: -7px;
    }
    h1.our-team {
        margin-top: 20px;
    }

    h2.text-white {
        font-size: 25px;
    }

    #register-now {
        font-size: 16px;
    }

}

@media (min-width: 541px) and (max-width: 768px) {

    h1.text-danger {
        font-size: 40px;
        padding-bottom: 0px;
        padding-top: 30px;
    }

    p.text-white {
        font-size: 18px;
    }

    div.col-12 {
        margin-top: -7px;
    }
    h1.our-team {
        margin-top: 20px;
    }


}

