body {
    font-family: 'Spartan', sans-serif;
}

/*PARALLAX START*/

#parallax_2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    width: 100%;
    height:300px;
    margin: 0;
    padding: 0;
}

/*RAPALLAX END*/


section.experince {
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;
}

section.experince h1 {
    font-size: 50px;
    font-weight: 700;
}

div.col-12 {
    margin-top: 90px;
}

div.top-36 {
    padding-top: 36px;
}

p.text-extra-small {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
}

h4.offset-top {
    margin-bottom: 16px;
    font-weight: 700;
}

.tab-98 {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1.text-danger {
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 60px;
}

h1 {
    font-weight: 700;
}

img.rounded-circle {
    width: 100px;
    height: 100px;
}

h4 {
    font-weight: 700;
    margin-bottom: 0px;
}

.person {
    margin-top: 50px;
}

.person-top {
    margin-bottom: 0px;
}

p.text-danger {
    font-size: 14px;
}

.person-text {
    font-weight: 100;
}
